.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #8a2be2;
    color: white;
    height: 3rem;
    padding-left: 15px;
    padding-right: 15px;
}
