.loaderContainer {
}

.loader {
    border: 8px solid var(--color-gray-loader);
    border-top: 8px solid var(--color-primary);
    border-radius: var(--radius-full);
    width: var(--size-loader-sm);
    height: var(--size-loader-sm);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
