.container {
    margin-top: var(--space-3);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contentContainer h3 {
    color: var(--color-primary);
    font-weight: bold;
    margin-bottom: var(--space-2);
    font-size: var(--font-size-md);
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: var(--space-3);
}

.dateContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--space-2);
}

.dateContainer h6 {
    margin-left: var(--space-1);
}

.locationContainer {
    display: flex;
    flex-direction: row;
}

.locationContainer h6 {
    margin-left: var(--space-1);
}

.participantContainer {
    margin-top: var(--space-3);
}

.pictureContainer {
    height: var(--size-loader-sm);
}
