.container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contentContainer h3 {
    color: #bd77ec;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: large;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.dateContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.dateContainer h6 {
    margin-left: 5px;
}

.locationContainer {
    display: flex;
    flex-direction: row;
}

.locationContainer h6 {
    margin-left: 5px;
}

.participantContainer {
    margin-top: 15px;
}

.pictureContainer {
    height: 30px;
}
