.registerButton {
    border: 0;
    line-height: 2.5;
    padding: 0 var(--space-4);
    font-size: var(--font-size-base);
    font-weight: bold;
    text-align: center;
    color: var(--color-white);
    border-radius: var(--radius-pill);
    background-color: var(--color-primary);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    width: var(--size-button-width);

}

.registerButton:hover {
    background-color: var(--color-primary-dark);
}

.registerButton:active {
    box-shadow:
            inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.loginButton {
    border: 0;
    line-height: 2.5;
    padding: 0 var(--space-4);
    font-size: var(--font-size-base);
    font-weight: bold;
    text-align: center;
    color: var(--color-white);
    border-radius: var(--radius-pill);
    background-color: var(--color-primary);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    width: var(--size-button-width);

}

.loginButton:hover {
    background-color: var(--color-primary-dark);
}

.loginButton:active {
    box-shadow:
            inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: var(--space-8);
}

.blocksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.imageContainer {
    display: none;

    @screen lg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 6rem;
    }
}

.ctaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--size-cta-container);
}

.title {
    font-family: "Verdana";
    font-size: var(--font-size-2xl);
    font-weight: bold;
    margin-bottom: var(--space-8);
}

.registerText {
    font-family: "Verdana";
    font-size: var(--font-size-md);
    font-weight: bold;
    margin-bottom: var(--space-3);
}

.conditionsText {
    font-size: var(--font-size-xs);
    width: var(--size-button-width);
    margin-top: var(--space-1);
}

.loginText {
    font-family: "Verdana";
    font-size: var(--font-size-md);
    font-weight: bold;
    margin-top: var(--space-9);
    margin-bottom: var(--space-3);
}
