.container {
    padding-right: var(--space-4);
    width: var(--size-side-menu-width);
}

.li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-md);
    padding: var(--space-3);

}

.li:hover {
    background-color: var(--color-gray-hover);
    border-radius: var(--radius-lg);
}

.textli {
    margin-left: var(--space-4);
}

.boldTextli {
    margin-left: var(--space-4);
    font-weight: bold;
}
