.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
}

.container Separator {
    height: 100%;
}

.sideContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sideContainer Button {
    margin-top: 20px;
    width: 250px;
    height: 50px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 40px;
    width: 60%;
}

.listContainer h1 {
    font-size: xx-large;
    font-weight: bold;
}

