.button {
    border: 0;
    line-height: 2.5;
    padding: 0 var(--space-4);
    font-size: var(--font-size-base);
    font-weight: bold;
    text-align: center;
    color: var(--color-white);
    border-radius: var(--radius-pill);
    background-color: var(--color-primary);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    width: var(--size-button-width);

}

.button:hover {
    background-color: var(--color-primary-dark);
}

.button:active {
    box-shadow:
            inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
